<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GreenRoots</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="/css/contact.css">

</head>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/trees.css">
    </head>
<body>
    <header class="header">
        <nav class="navigation">
            <img class="logo" href="/" src="/images/logoff.jpg" alt="GreenRoots Logo"> 

            <label for="" class="icon">
            <i class="fi fi-br-menu-burger"></i>
            </label>
            <ul class="nav_links">
                <li><a href="/">Home</a></li>
                <li><a href="/trees">Nos Arbres</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <button class="connexion"> connexion </button> 
        </nav>
            
        
    </header>
    <main>
    
