<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GreenRoots</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>
  <header class="header">

    <img class="logo" src="/images/logoff.jpg" alt="GreenRoots Logo">

    <nav class="navigation">
      <ul class="nav_links">
        <li><a href="/">Home</a></li>
        <li><a href="/trees">Nos Arbres</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <a class="" href="connexion">
      <button class="connexion"> connexion </button>
    </a>
  </header>
  <main>