/* Container principal */
#contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    margin-top: 1rem;
}

/* Section .us  */
.us {
    min-width: 300px; /* Largeur minimale pour le responsive */
    display: flex;
    flex-direction: column;
    margin-left: 10%;

}

/* Section .you  */
.you {
    display: grid; 
    align-items: center;
    justify-items: center;
    margin-right: 10%;
    
}

/* Image dans .you  */
.you > img {
    grid-column: 2;
    grid-row: 1 / 3; 
    max-height: 600px;
}


/* Section .contact */
.contact {
    width: 60%;
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-left: 20%;
}

/* Images dans les sections */
#contact img {
    border-radius: 1rem;
    width: 100%;
    height: 400px;
    max-width: 500px;
    border: 1px solid #ddd;
}

/* Responsive : cache les images sur petits écrans */
@media screen and (max-width: 1280px) {
    #contact img {
        display: none;
    }
}


/* Titre principal */
#contact h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

/* Titres h2 dans les sections */
#contact h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

/* Paragraphes */
#contact p {
    line-height: 2rem;
    text-align: justify;
    margin: 2rem 0; 
    max-width: 60%; 
    padding: 0 1rem; 
}
