.details{
    padding: 2rem;
    display: flex;
    margin: 2rem 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height:100vh;
}

.details_h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem;
    text-align: center;
}

.article_details{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.details_info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 10rem 3rem 0 5rem;
}

.details_info span{
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
    line-height: 1.5;
}

.article_image{
    display: flex;
    justify-content:left;
    margin: 2rem 5rem;
    align-items: center;
    width: 50%;
    max-width:fit-content;
    height: 50%;
    border: solid 0.5px #3A5A40;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    flex-shrink: 0;
}

.desc{
    max-width: 40ch;
}

.ajouter_au_panier_button{
    background-color: #3A5A40;
    color: #E5E3DC;
    border: none;
    width: fit-content;
    text-decoration: none;
    padding: 10px 20px;
    margin: 2rem;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.ajouter_au_panier_button:hover{
    background-color: #2e4432;
}

.retour{
    display: flex;
    justify-content:left;
    margin: 2rem 5rem;
    align-items: center;
    width: fit-content;
}

.retour_button{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #3A5A40;
    border: none;
    width: fit-content;
    padding: 10px 20px;
    margin: 2rem;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
 .retour_button:hover{
    color: #2e4432;
}

.quantity-input{
    width: 60px;
    padding: 5px;
    margin-right: 10px;
    border: 2px solid #589163;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .details{
        flex-direction: column;
        margin: 1rem;
        height: auto;
    }

    .article_details{
        flex-direction: column;
        align-items: center;
    }

    .details_info{
        margin: 1rem 0;
        align-items: center;
        text-align: center;
    }

    .article_image{
        width: 50%;
        margin: 1rem 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1220px) {
    .article_image{
        width: 50%;
    }
    .article_details{
        gap: 1rem;
        margin-right: 2rem;
        flex-direction: column;
        align-items: center;
    }
    .details_info{
        margin: 1rem 0;
        align-items: center;
        text-align: center;
    }
}


