.footer{
    background-color: #3A5A40;
    color: #E5E3DC;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .footer{
        margin-top: 18rem;
    }
}