@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3A5A40;

}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.logo{
    cursor: pointer;
    width: 5rem;
    height: auto;
    border-radius: 45% ;
}

.icon{
    color: #E5E3DC;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
    right: 5%;
}

#menu{
    display: none;
}

.nav_links li {
    display: inline-block;
    gap: 5rem;
    margin: 0 1rem;
    color: #E5E3DC;
}
 .nav_links a{
    color:#E5E3DC;
    text-decoration: none;
    font-weight: bold;
 }


.nav_links li a:hover{
    color:#78978c;
    font-size: 1.1rem;
    transition: all 0.5s ease;
}

.connexion {
    background-color: #E5E3DC;
    color: #3A5A40;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.connexion:hover {
    background-color: #78978c;
}

@media screen and (max-width: 768px) {
    .navigation{
        flex-wrap: wrap;
    }
    .icon{
        display: block;
    }
    .nav_links, .connexion{
        display: none;
        width: 100%;
        gap: 1rem;
        text-align: center;
    }
    #menu:checked ~ .nav_links, #menu:checked ~ .connexion{
        display: block;
        margin-top: 1rem;
    }
    .nav_links{
        flex-direction: column;
        padding: 1rem;
        gap: 1.5rem;
    }
}