*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
}

.login_page{
    height: 100vh;
    background-color: #E5E3DC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container{
    background-color: #edede9;
    padding: 2rem 3rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.connexion_h1{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #3A5A40;
}

.input{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0 1.5rem 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1rem;
}