.cart_title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding:2rem;
}

.cart_item {
  display: grid;
  grid-template-columns: 250px 1fr; /* 2 colonnes : 1 petit = image, 1 plus large = toutes les infos */
  gap: 2rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.cart_item img {
  width: 100%;
  height: 220px;
  border-radius: 10px;
}

.cart_item_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart_item_details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}