*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
}

.register_page{
    height: 100vh;
    background-color: #E5E3DC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_container{
    background-color: #edede9;
    padding: 3rem 4rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.register_h1{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #3A5A40;
}

.register_button{
    width: 100%;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    background-color: #3A5A40;
    color: #E5E3DC;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
}

.register_button:hover{
    background-color: #2e4432;
    transition: background-color 0.3s ease;
}


@media screen and (max-width: 768px) {
    .register_container {
        padding: 2rem;
        margin: 0 1rem;
        box-shadow: none;
    }
    
}