

/*Background de la page */
.section{
    background-color: #E5E3DC;
    margin-top: 0;
}


/*  Limite et centre le contenu principal */
main {
    width: 100%;
    margin: 0 auto;
    padding: 0 ;
    box-sizing: border-box;
}

/* Titre de la page*/
.trees_h1{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding:2rem;
}

/* Grid */
.trees_section{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes par défaut */
    justify-items: center;
    gap: 2rem;
    padding: 2rem 0;
    width: 100%;
}

/* Chaque produit */
.tree_card{
    display: flex;
    background-color: #edede9;
    width: 100%;             
    max-width: 420px;         
    flex-direction: column;
    align-items: center;
    border: 0.5px solid #3A5A40;
    border-radius: 30px;
    margin: 0 auto;
    overflow: hidden;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hover pour les cards*/
.tree_card:hover{
    transform: translateY(-5px);
    background-color: #d3dfbb;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}


/* L'image produit*/
.tree_img{
    width: 100%;
    height: 220px;           
    object-fit: cover;       
    border-radius: 10px;
}

/* Le nom de chaque produit */
.name{
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: bold;
}

/* Description de chaque produit*/
.description{
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
}   

/* Price */
.price{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Bouton pour acheter*/
.buy_button{
    background-color:  #677056;
    color: #E5E3DC;
    border: none;
    padding: 10px 20px;
    margin:1.5rem 2rem 0 2rem;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

/* Bouton hover */
.buy_button:hover{
    background-color: #3A5A40;
    transition: background-color 0.5s ease;
    font-size: 1rem;
    transition: font-size 0.5s ease;
    
}

/* Responsive*/
@media screen and (max-width: 768px) {
    .trees_section {
        grid-template-columns: 1fr; /* écran mobile : 1 colonne */
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .trees_section {
        grid-template-columns: repeat(2, 1fr); /* tablettes / petits laptops : 2 colonnes */     
    }
}