<%-include('partials/header')%>

    <section id="details">
        <h1 class="details_h1">Détail du produit  </h1>
        <div class="retour">

            <a class="retour_button" href="/trees"> &lt;&lt; Retour aux arbres</a>
        </div>

        
        <article class="article_details">
          <img class="article_image"
            src="/images/acacia.jpg"
            alt=""
          />
          <div class="details_info">
            <h2><span>Nom</span> : acacia</h2>
            <p><span>Origine </span> : France</p>
            <p><span>Prix</span> : 19,99 $</p>

            <p class="desc"><span>Description</span> : Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                 At magnam nisi modi quaerat in totam commodi iure, temporibus 
                beatae, delectus inventore laborum. Sint, dolores nobis consequatur dolore rem nihil mollitia?</p>
            
            <p><span>Disponibilité</span> : En stock</p>
            <a class="ajouter_au_panier_button" href="/panier">Ajouter au panier</a>    
            
            
          </div>
        </article>
        
      </section>

      <%-include('partials/footer')%>