<%- include('partials/header') %>

  <section id="about">

    <div>
      <h1>GreenRoots</h1>
      <h2>Planter aujourd'hui pour respirer demain</h2>
      <p>Es-tu prêt à faire pousser la forêt de demain ?
        Avec GreenRoots, plante un arbre emblématique des quatres coins du monde et devient acteur de la reforestation.
        Un geste concret pour la planète, une empreinte verte pour l'avenir !</p>
      <a class="button" href="">Découvrir nos arbres</a>
    </div>
    <img class="image_accueil" src="/images/accueil.jpg"
      alt="une main d'enfant qui tient un plant d'arbre dans un peu de terre">
  </section>


  <%- include('partials/footer') %>