<%- include('partials/header') %>

  <section id="about">

    <div>
      <h1>GreenRoots, planter aujourd'hui pour respirer demain</h1>
      <p>Cupcake ipsum dolor sit amet pudding. Topping jelly beans sweet roll sweet roll wafer halvah toffee candy
        canes.
        Carrot cake gummies jelly beans liquorice tootsie roll liquorice sweet roll.</p>
    </div>
    <img src="/images/accueil.jpg"
      alt="une main d'enfant qui tient un plant d'arbre dans un peu de terre">
    <a class="button" href="">Découvrir nos arbres</a>

  </section>


  <%- include('partials/footer') %>