<%-include('partials/header')%>

    
    <section class="section">
        <h1 class="trees_h1">Nos Produits</h1>
          <div class="trees_section">
            <article class="tree_card">
                <img class="tree_img"  src="/images/bouleau.jpg" alt="bouleau">
                <h2 class="name">name</h2>
                <p class="description">ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</p>
                <span class="price">Prix: 25 €</span>
                <button class="buy_button">Acheter</button>
            </article>
            <article class="tree_card">
                <img class="tree_img" src="/images/bouleau.jpg" alt="bouleau">
                <h2 class="name">name</h2>
                <p class="description">ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</p>
                <span class="price">Prix: 30 €</span>
                <button class="buy_button">Acheter</button>
            </article>
            <article class="tree_card">
                <img class="tree_img" src="/images/bouleau.jpg" alt="bouleau">
                <h2 class="name">name</h2>
                <p class="description">ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</p>
                <span class="price">Prix: 30 €</span>
                <button class="buy_button">Acheter</button>
            </article>
            <article class="tree_card">
                <img class="tree_img" src="/images/bouleau.jpg" alt="bouleau">
                <h2 class="name">name</h2>
                <p class="description">ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</p>
                <span class="price">Prix: 30 €</span>
                <button class="buy_button">Acheter</button>
            </article>
            <article class="tree_card">
                <img class="tree_img" src="/images/bouleau.jpg" alt="bouleau">
                <h2 class="name">name</h2>
                <p class="description">ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</p>
                <span class="price">Prix: 30 €</span>
                <button class="buy_button">Acheter</button>
            </article>
            <article class="tree_card">
                <img class="tree_img" src="/images/bouleau.jpg" alt="bouleau">
                <h2 class="name">name</h2>
                <p class="description">ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</p>
                <span class="price">Prix: 30 €</span>
                <button class="buy_button">Acheter</button>
            </article>
            <article class="tree_card">
                <img class="tree_img" src="/images/bouleau.jpg" alt="bouleau">
                <h2 class="name">name</h2>
                <p class="description">ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</p>
                <span class="price">Prix: 30 €</span>
                <button class="buy_button">Acheter</button>
            </article>
            <article class="tree_card">
                <img class="tree_img" src="/images/bouleau.jpg" alt="bouleau">
                <h2 class="name">name</h2>
                <p class="description">ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</p>
                <span class="price">Prix: 30 €</span>
                <button class="buy_button">Acheter</button>
            </article>
            <article class="tree_card">
                <img class="tree_img" src="/images/bouleau.jpg" alt="bouleau">
                <h2 class="name">name</h2>
                <p class="description">ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</p>
                <span class="price">Prix: 30 €</span>
                <button class="buy_button">Acheter</button>
            </article>
        </div>
            
    </section>

  

<%-include('partials/footer')%>